<!DOCTYPE html>
{% load staticfiles %}
{% load gtg_template_tags %}

<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'images/gtg_logo.ico' %}">
    <title>
        Globetrotter's Guide
    </title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link href="{%  static 'css/base-style.css' %}" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light p-0 shadow-sm">

                <a class="navbar-brand p-2" href="{% url 'GlobetrottersGuide:HomePage' %}">
                    <img src="{% static 'images/gtg_logo.ico' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                    Globetrotter's Guide
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="position:inherit;right:10px;">
                    <span class="navbar-toggler-icon"></span>
                </button>

                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active"><a class="nav-link" style="padding:8px 16px 8px 16px;" href="{% url 'GlobetrottersGuide:HomePage' %}">Home</a></li>
                            <li class="nav-item active"><a class="nav-link" style="padding:8px 16px 8px 16px;" href="{% url 'GlobetrottersGuide:about' %}">About</a></li>
                        </ul>



                        {% if user.is_authenticated %}
                            <ul class="nav-item dropdown" style="margin:0;padding:0;">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                   aria-labelledby="navbarDropdownMenuLink" role="button">{{ user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'GlobetrottersGuide:UserProfile' request.user.username %}">User Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'auth_logout' %}">Log Out</a>
                                </div>
                            </ul>
                            <a class="navbar-brand p-2" href="{% url 'GlobetrottersGuide:UserProfile' user.username %}">
                            <img src="{{ userProfile.picture.url }}" width="30" height="30" class="d-inline-block align-top" alt="">
                            </a>
                        {% else %}
                            <div style="position:relative; right:50px">
                            <a class="btn btn-outline-success" href="{% url 'auth_login' %}" style="margin:10px 0px 10px 70px" >Login</a>
                            <a class="btn btn-outline-primary" href="{% url 'registration_register' %}" style="margin: 10px 20px 10px 0px;" >Sign up</a>
                            </div>
                        {% endif %}
                    </div>
            </nav>
        </header>

        <div class="container-fluid">
            <div class="row" style="margin: 100px 50px 100px 50px;">
                <main role="main" class="col-md">
                    {% block title_block %}{% endblock %}
                    {% block body_block %}{% endblock %}
                </main>
            </div>
        </div>

        <div>
            <!-- FOOTER -->
            <footer class="container" style="position:fixed;bottom:0"><p>&copy; 2020 Globetrotter's Guide </p></footer>
        </div>

        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <!--<script src="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.js"></script>-->
    </body>
</html>

