<!DOCTYPE html>
{% extends 'GlobetrottersGuide/base.html' %}
{% load staticfiles %}

{%block title_block %}
<h1 id="pagetitle">Home</h1>
{% endblock %}

{% block body_block %}
    {% if continents %}
        <div style="overflow: hidden">
            <ul id="leftlist" style="width: 40%;border: 1px solid lightblue;padding: 20px;float: left;min-height: 300px">
                {% for continent in continents %}
                <li id="leftitem" style="list-style: none">
                    <a href="/{{ continent.slug }}/">{{ continent.name }}<span style="margin-left:50px;float: right">{{ continent.likes }}</span></a>
                </li>
                {% endfor %}
            </ul>
            <div style="width: 50%;float: right">
                <img src="{% static 'continent/worldmap.png' %}" style="width: 100%;">
            </div>
        </div>
        <div>
            <div>
                {% for item in reviews %}
                <div style="width: 25%; float: left;border: 1px solid lightblue;min-height: 200px;padding: 20px">
                    <h4>{{ item }}</h4>
                    <p>neirong</p>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
    <strong>There are no continents in the list.</strong>
    {% endif %}
{% endblock %}

{% block img_block %}
       <img id="geomap" src="{% static 'continent/worldmap.png' %}" />
{% endblock %}
