<!DOCTYPE html>
{% extends 'GlobetrottersGuide/base.html'%}
{% load staticfiles %}
{% load gtg_template_tags %}


{% block title_block%}
    <div class="row">
        <div class="col">
        <h1>{{ city.name }}</h1>
        </div>
        <div class="col">
            <a role="button" class="btn btn-primary" href="{% url 'GlobetrottersGuide:ReviewCity' continent_name_slug=continent.slug country_name_slug=country.slug city_name_slug=city.slug %}" style="float:right">Write a Review</a>
        </div>
    </div>
{% endblock %}

{% block body_block %}

    {% if reviews %}
    {% for review in reviews %}
        <div class="card" style="width: 18rem;margin:10px;float:left;">
            {% if review.image %}
            <img src="{{ review.image.url }}" class="card-img-top" alt="No Image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ review.title }}</h5>
                <p class="card-text">{{ review.text }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    User:
                    <a href="{% url 'GlobetrottersGuide:UserProfile' review.user.username %}">{{ review.user.username }}</a>
                    &emsp; Rating: {{ review.rating }}/5
                </li>
                <li class="list-group-item">{{ review.views }} views</li>
                <li class="list-group-item">{{ review.publish_date | date:"F d Y" }} &emsp; Spent: {{ review.timeSpent.days }} day(s)</li>
            </ul>
        </div>
    {% endfor %}
    {% else %}
        <p><h2>No one has reviewed this city yet.</h2></p>
    {% endif %}

{% endblock %}

