<!DOCTYPE html>
{% extends 'GlobetrottersGuide/base.html' %}
{% load staticfiles %}

{%block title_block %}
    <h1 id="pagetitle">{{ continent_name }}</h1>
{% endblock %}

{% block list_block %}
    {% if countries %}
    <ul id="leftlist">
        {% for country in countries %}
        <li id="leftitem">
            <a href="/{{ continent_slug }}/{{ country.slug }}/">{{ country.name }}</a>
        </li>
        {% endfor %}

        {% for country in countries %}
        <li id="leftitem">{{ country.review_count }} reviews</li>
        {% endfor %}
    </ul>   
    {% else %}
    <strong>There are no countries here in this continent.</strong>
    {% endif %}
{% endblock %}

{% block img_block %}
    {% with 'continent/'|add:continent_slug|add:'.png' as img %}
       <img id="geomap" src="{% static img %}" />
    {% endwith %}
{% endblock %}

